*{
    margin: 0;
    padding: 0;
    font-family: 'open-sans';
}
body{
    background-color: white;
}
.huddle{
    width: 130px;
}
.first-section{
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: hsl(208, 100%, 92%);
}
.top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 80px 20px;
    padding-top: 20px;
   
}
.free{
    border-radius: 200px;
    padding: 8px 30px;
    background-color: white;
    color: black;
    border: 2px white;
    cursor: pointer;
    box-shadow:none;
    margin: 10px;
    /* width: 20%; */
}
.get{
    border-radius: 200px;
    padding: 8px 38px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px;
}
.mockups{
    width: 650px;

}.second{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 80px;
}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
}
p, a,li{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 18px;
  font-style: normal;
  margin: 20px;
  line-height: 2.5;
}
.grow-together{
    width: 600px;
}
.grow{
    display: block;
    
    margin: 10px 80px;
    border-radius: 2px;
}
.flowing{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 80px;
}
.flowing-conversation{
    width: 600px;
}
.user{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 80px;
}
.your-user{
    width: 600px;
}
.footer{
    background-color: hsl(192, 100%, 9%);
    padding: 40px;
    /* max-width: 300px; */
    /* padding-top:150px;
    padding-bottom: 80px;
    padding-left: 25px; */
    /* margin: 20px auto; */
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    font-size: 11px;
    margin-right: 0;
    
}
.location{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 11px;
}
.phone{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    /* margin-bottom: 10px; */
}
.email{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 10px; */
}
.huddle-img{
    background-color: white;
    color: white;
}
.logo{
    gap: 20px;
    border-radius: 200px;
    margin: 50px; 

}
.facebook{
    width: 50px;
    color: white;
}
.twitter{
    width: 30px;
}
.instagram{
    width: 30px;
}
.copy{
    color: white;
    margin-top: 100px;
    font-size: 13px;
}
/* button{
    cursor: pointer;
    margin: 10px;
    border: none;
} */
.about{
    margin: 30px;
    padding-top: 32px;
}
.Career{
    margin: 30px;
    padding-top: 32px;
}
.about{
    text-decoration: none;
}
li{
    margin: 15px;
    color: white;
}
.lorem{
    color: white;
    font-size: 13px;
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
    /* opacity: 80%; */
}
a:hover{
    text-decoration: underline;
}
.huddle-grid{
    margin-left:40px;
    margin-right: 40px;
}
@media (min-width: 320px) {
    .grow{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 80px;
    border-radius: 2px;
    }
    .second{
        /* display:block; */
    }
    .first-section{
        padding: 0;
        margin: 0;
    }
    .mockups{
        /* width:50px; */
    }
}
